{% extends "base.html"%}
{% block content %}

<h1>Task </h1>

<h1>{{tasks.title}}</h1>
<h6>Creation: {{tasks.created}}</h6>
<p>{{tasks.description}} </p>
{% if tasks.important %}
        <h4>Important</h4>
    {%else%}
        <h4>Task no mportant</h4>
    {%endif%}
    <form  method="POST"> 
        {% csrf_token %}
        {{error}}
        {{form.as_p}}
        <button>
            Update
        </button>
    </form>

    <form action="{% url 'complete_task' tasks.id %}" method="POST">
        {% csrf_token %}
        <button>
            Complete
        </button>
    </form>
  
    <form action="{% url 'delete_task' tasks.id %}" method="POST">
        {% csrf_token %}
        <button>
            Delete
        </button>
    </form>
    
{% endblock %}